
<!--
<a class="btn btn-primary" href="{% url 'family-register' %}">Family Register</a>
<a class="btn btn-primary" href="{% url 'parent-login' %}">Parent Login</a>
<a class="btn btn-primary" href="{% url 'child-login' %}">Children Login</a>
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{% static 'familytodo/landstyle.css' %}">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Family To Do</title>

    <!-- Bootstrap core CSS 
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
-->
    <!-- Custom styles for this template 
    <link href="css/1-col-portfolio.css" rel="stylesheet">
-->
  </head>

  <body>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Family To Do
      </h1>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-12">        
          <a href="{% url 'family-register' %}">
            <img class="img-fluid rounded mb-3 mb-md-5 slika" src="{% static 'familytodo/family.jpg' %}" alt="">
            <h3 class="centered">Family register</h3>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <br>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'parent-login' %}">
            <img class="img-fluid rounded mb-3 mb-md-0 slika" src="{% static 'familytodo/parents.jpg' %}" alt="">
            <h3 class="centered">Parent Login</h3>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <br>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'child-login' %}">
            <img class="img-fluid rounded mb-3 mb-md-0 slika" src="{% static 'familytodo/children.jpg' %}" alt="">
            <h3 class="centered">Children login</h3>
          </a>
        </div>
      </div>
      <!-- /.row -->

      
    <!-- /.container -->

    <!-- Footer -->


    <!-- Bootstrap core JavaScript 
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
  </body>

</html>
