
<!--
<a class="btn btn-primary" href="{% url 'family-register' %}">Family Register</a>
<a class="btn btn-primary" href="{% url 'parent-login' %}">Parent Login</a>
<a class="btn btn-primary" href="{% url 'child-login' %}">Children Login</a>
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="{% static 'familytodo/landstyle.css' %}">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Family To Do</title>

    <!-- Bootstrap core CSS
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
-->
    <!-- Custom styles for this template
    <link href="css/1-col-portfolio.css" rel="stylesheet">
-->
  </head>

  <body>

    <!-- Page Content -->
    <div class="container-fluid">
      <div class="text-center">
      <h1 style="font-size:8vh;">Family To Do</h1>
      </div>
      <div class="page">
        <div class="content">
          <div class="circle">
            <div class="circle_title">
              <h2>Parent register</h2>
            </div>
            <div class="circle_inner">
              <div class="circle_inner__layer">
                <a href="{% url 'family-register' %}">
                <img src="{% static 'familytodo/family.jpg' %}"/>
                </a>
              </div>
            </div>
            <div class="content_shadow"></div>
          </div>
        </div>
        <div class="content">
          <div class="circle">
            <div class="circle_title">
              <h2>Parent login</h2>
            </div>
            <div class="circle_inner">
              <div class="circle_inner__layer">
                <a href="{% url 'parent-login' %}">
                <img src="{% static 'familytodo/parent5.jpeg' %}"/>
                </a>
              </div>
            </div>
            <div class="content_shadow"></div>
          </div>
        </div>
        <div class="content">
          <div class="circle">
            <div class="circle_title">
              <h2>Child login</h2>
            </div>
            <div class="circle_inner">
              <div class="circle_inner__layer">
                <a href="{% url 'child-login' %}">
                <img src="{% static 'familytodo/children.jpg' %}"/>
                </a>
              </div>
            </div>
            <div class="content_shadow"></div>
          </div>
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
  </body>

</html>
